
@model AnyoneTennis.ViewModels.CoachIndexData

@{
    ViewBag.Title = "Coaches";
}

<h2>Coaches</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th>Dob</th>
        <th>Biography)</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Coaches)
    {
        string selectedRow = "";
        if (item.CoachId == ViewBag.CoachId)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>

            <td>
                @Html.ActionLink("Select", "Index", new { id = item.CoachId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CoachId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CoachId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CoachId })
            </td>
        </tr>
    }

</table>

@if (Model.Events != null)
{
    <h3>Event Taught by Selected Coach</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>EventName</th>
            <th>EventDescription</th>
            <th>Date</th>
        </tr>

        @foreach (var item in Model.Events)
            {
                string selectedRow = "";
                if (item.EventId == ViewBag.EventId)
                {
                    selectedRow = "success";
                }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { EventId = item.EventId })
                </td>
                <td>
                    @item.EventId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Date
                </td>
            </tr>
            }
        </table>
    }




@if (Model.Members != null)
{
    <h3>
        Members Enrolled in Selected Event
    </h3>
    <table class="table">
        <tr>
            <th>MemberID</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Gender</th>
        </tr>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                @if (item.Gender == "1")
                {
                    <td>Male</td>
                }
                else
                {
                    <td>Female</td>}
            </tr>
        }
    </table>
}
