@model IEnumerable<AnyoneTennis.Models.Scheds>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            Coach
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th></th>

    </tr>

    @foreach (var scheds in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => scheds.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => scheds.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => scheds.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => scheds.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => scheds.Nickname)
            </td>
            <td>
                @Html.ActionLink("Coach Profile", "Details", "Coaches", new { id = scheds.CoachId }, null)  |

                @if (Request.IsAuthenticated)
                {   
                   <a href="javascript:void(0)" class="btn-enroll" data-event-date="@scheds.EventDate.ToLongDateString()" data-id="@scheds.EventId">Enroll</a>
                }
            </td>
        </tr>
    }

</table>